/** font **/

body{
    font-family: nunito;
    font-size: 1.125rem;
    margin: 0;
}
.fontpoppins{
    font-family: Poppins;
}
.fontpoppinsbold{
    font-family: Poppins;
    font-weight: 700;
}
/** Selected generals **/
a{
    text-decoration: none;
}
p{
    color:#5B5766;
}
.link{
    color: #554D89;
    text-decoration: none;
}
h2{
    margin: 0;
}


/** size caractère **/
.f-1{
    font-size: 1rem;
}
.f14{
    font-size: 0.875rem;
}
.f15{
    font-size: 0.9375rem;
}
.f18{
    font-size: 1.125rem;
}
.f-22{
    font-size: 1.375rem;
}
.f20{
    font-size: 1.25rem;
}
.f34{
    font-size: 2.125rem;
}
.f50{
    font-size: 3.125rem;
}

/** grille **/
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/** color **/
.color-first{
    color:#5B5766;
}
.color-secondary{
    color: #554D89;
}
.color-three{
    color: #716C80;
}
.colorwhite{
    color: white;
}
    
/** marge **/
.mr-0{
    margin: 0;
}
.mr-right16{
    margin-right: 1.8rem;
}
.mr-right48{
    margin-right: 3rem;;
}
.mr-right64{
    margin-right: 8rem;
}
.mr-top7{
    margin-top: 6.9375rem;
}
.mr-left2{
    margin-left: 2rem;
}
.m-topleft66{
    margin-left: 3.5rem;
    margin-top: 3.5rem;
}
.mr-bottom{
    margin-bottom: 20px;
}
.mr-top3{
    margin-top: 3rem;
}
.mr-top120{
    margin-top: 7.5rem;
}
.mr-top66{ 
    margin-top: 4.125rem;
}
.mr-top2{
    margin-top: 2rem;
}
.mr-top80{ 
    margin-top: 5rem;
}
.mr-left80{
    margin-left: 5.25rem;
}
.mr-top72{
    margin-top: 4.5rem;
}
.pd-top{
    padding-top: 4rem;
}

/** flex **/
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-justify-beetwen{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}


/** header **/
#button-nav{
    display: none;
}
header{
    z-index: 1; 
}
.header{
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    height: 43rem;
}


/** header - déco**/
#deco{
    background-image: url("img/Bg-shape.png");
    background-position: right 0 top 0% ;
    background-repeat: no-repeat;
    background-size: 800px;
    
}

/** header - logo**/
.logo{
    font-family: nunito;
    font-weight: 900;
    color: #554D89;
    font-size: 1rem;
    max-width: 100%;
}
header > div > img{
    max-width: 100%;
}
h1{
    font-size: 3.125rem;
    font-weight: 700;
    margin-top: 14.75rem;
}

/** header - navigation **/

nav >ul{
    list-style: none;
}

nav > ul li{
    font-size: 1rem;
}
nav > ul > li > a{
    text-decoration: none;
}
#nav{
    width: 30.0526rem;
}

/** header - search **/
header > div > div > nav > ul > li > a:hover{
    color: #554D89;
    font-family: nunito;
    font-weight: 700; 
    border-image: linear-gradient(
      to right, #6852ED, #BA43FC) 100% 0 0 0 ;
    padding-top: 1.4rem;
    border-style: solid;
    border-width: 2px;
}
#our-price{
    width: 27.25rem;
    height: 18.3125rem;
}
.button-styled{
    background-image: linear-gradient(45deg, rgb(104, 82, 237), rgb(186, 67, 252)) ;
    border: none;
    border-radius:2.5rem;
    width: 207px;
    height: 50px;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}


/** Main - part1 **/
main li {
    list-style: none;
    color: #716C80;
    line-height: 2rem;
}
main ul {
    padding-left: 1.25rem;
    margin-bottom: 0;
    margin-top: 2.8rem;
}

.line-deco{
      border-style: solid;
      border-width: 0.125rem;
      color: #BA43FC;
      width: 2.5rem;
      border-radius: 0.625rem;
      margin-top: 1.4375rem;
      margin-bottom: 1.75rem;
}
#best-choise{
    color: #EF7171;
    font-size:0.625rem;
    background-color: rgba(225, 228, 237, 60%);
    border-radius: 0.8125rem;
    width: 5.375rem;
    height: 1.625rem;
    text-align: center;
    line-height: 1.625rem; 
    margin-right: 4rem;   
}
.parts{
    width: 22.5rem;
    height: 38.5rem;
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089); 
}
#main1{
    margin-top: 10rem;
}


/** Main - part2 **/

#part2{
    display: block;
    height: 33.4375rem;
    text-align: center;
    margin-top: 7.3125rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 46.875rem;
}
.bg-gris{
    height: 33.4375rem;
    background-image:linear-gradient( to right,rgba(225, 228, 237, 30%), rgba(225, 228, 237, 30%)),url(img/fond-ville.png);
    background-repeat: no repeat;
    background-size: auto, cover;
}

#marketingexpert{
    color:rgba(91, 87, 102, 80%)
}


#bgcolor{
    width: 22.5rem;
    height: 15.4375rem;
    background-image: linear-gradient(45deg, rgb(104, 82, 237), rgb(186, 67, 252)) ;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089);
}

.bgcolorwhite{
    width: 22.5rem;
    height: 15.4375rem;
    background-color: white ;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089);
}


/** Main - part4 **/
#part4-section{
    width: 26.0625rem;
    height: 29.6221rem;
}

#bg-deco-part4{
    flex: 0 50%;
    min-width: 651px;
    min-height: 474px;
    border-radius: 237px 237px 237px 80px;
    background-position: center;
    background-size: cover;
    background-image: url(img/paysage.png);
}

/** Footer **/

/** Footer - aside **/

#bg-color-aside{
    height: 6.875rem;
    background-image: linear-gradient(45deg, rgb(104, 82, 237), rgb(186, 67, 252)) ;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089);
    line-height: 6.875rem;
}

.button-styled-white{
    background-color: transparent;
    border: 1px solid white;
    border-radius:2.5rem;
    width: 103px;
    height: 50px;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin-top: 1.875rem;
    
}

/** Footer - end **/
footer li{
    list-style: none;
}

#enfant3footer #enfant4footer, ul{
    padding-left: 0;
    margin-left: 0;
}

footer #enfant1footer{
    width: 32%;    
}
footer #enfant2footer{
    width: 25%;    
}

#enfant3-4{
    width: 33%;
}

footer #enfant3footer{
    margin-right: 2rem;
}
footer #enfant4footer{
    margin-top: 3.2rem;
}

.deco-border{
    border-bottom: 2px solid #D8D8D8;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 5rem;
    column-span: all;

}

/* media queries pour tablette avec un minimum de 992px de largeur */
@media only screen and (max-width:1199.98px) and (min-width:991.98px) {

    /* header */
    
    header{
        max-width: 950px;
        margin-right: auto;
        margin-left: auto;
    }

    #deco{
        background-image: url("img/Bg-shape.png");
        background-position: 150% 0;
        background-repeat: no-repeat;
        background-size: 750px;
    }
    #our-price h1{
        margin-top: 30%;
    }

        /* main 1 */
    #main1{
        margin-top: 0;
    }
    .container{
        width: 90%;
        margin: auto;
    }

        /* main 2 */
    .bg-gris{
        height: 33.4375rem;
        background-image:linear-gradient( to right,rgba(225, 228, 237, 30%), rgba(225, 228, 237, 30%)),url(img/fond-ville.png);
        background-repeat: no repeat;
        background-size: auto 100% ;
    }

}


    /* media queries pour tablette avec un minimum de 768px de largeur  */
    @media only screen and (max-width: 991.98px){

        /* header */
   

    header{
        max-width: 900px;  
        margin-right: auto;
        margin-left: auto;  
    }

    #deco{
        background-image: url("img/Bg-shape.png");
        background-position: 130% 0%;
        background-repeat: no-repeat;
        background-size: 500px;
    }

    #our-price h1{
        margin-top: 20%;
    }

        /* main - part1 */
    .container{
        width: 100%;
        margin: auto;
    }
    #main1{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .parts{
        margin-bottom: 2rem;
    }


        /* main - part2 */
    .bg-gris{
        height: 33.4375rem;
        background-image:linear-gradient( to right,rgba(225, 228, 237, 30%), rgba(225, 228, 237, 30%)),url(img/fond-ville.png);
        background-repeat: no repeat;
        background-size: auto 100% ;
        margin: auto;

    }
    .services{
        flex-direction: column;
        flex: 10%;
    }
    main div{
        margin-top: 0;
    }
    #part2{
        margin-top: 2rem;
    }

        /* main - part3 */

    #part3{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #enfantpart3{
        flex: 0 80%;
    }

    /* main - part4 */
    #part4-section{
        width: 70%;
        height: 29.6221rem;
    }
    
    #bg-deco-part4{
        display: block;
        background-color:rgb(225,228, 237);
        position: relative;
        border-radius: 237px 237px 237px 80px;
    }

    .services{
        flex-wrap: wrap;
        align-items: center;
    }

    /* Footer */
    footer{
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
    }
    footer > .mr-top120 {
        margin-top: 0;
    }
}


/* media queries pour tablette avec un minimum de 768px de largeur  */
@media screen and (orientation:portrait) and (max-width: 768.98px){
    #deco{
        background-image: none;
    }
    header{
        max-width: 700px;  
        margin-right: auto;
        margin-left: auto;  
    }
    #part2{
        margin-top: 2rem;
        max-width: 700px;
    }
    #bg-deco-part4{
        flex: 0 100%;
        min-height: 300px;
        min-width: 100%;   
        border-radius: 130px 130px 130px 40px;
    }
    .container{
        width:90%;
        margin: auto;
    }
    #part4-section{
        width: 90%;
        height: 29.6221rem;
    }
}



/* Media queries pour smartphone max 480px de largeur */
@media only screen and (min-width: 480px) and (max-width:767.98px) {

    /* header */
    #button-nav{
        display: flex;
        position: fixed;
        top: 10px;
        right: 30px;  
    }
    .logo{
        font-size: 200%;
    }
    header >div >p >img{
        min-width: 40%;
    }
    header{
        max-width: 420px;  
        margin-right: auto;
        margin-left: auto; 
    }
   
    .header{
        max-height: 600px;

    }
    #button-free{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    #button-free > a {
        margin-top: 1rem;
    }

    #deco{
        background-image: none;
    }

    #our-price h1{
        margin-top: 10%;
    }

        /* main - part1 */
    .container{
        max-width: 26.25rem;
        margin: auto;
    }
    nav{
        display: none;
    }
    #main1{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .parts{
        margin-bottom: 1rem;
        margin-top: 3rem;
    }


        /* main - part2 */
    .bg-gris{
        height: 33.4375rem;
        background-image:linear-gradient( to right,rgba(225, 228, 237, 30%), rgba(225, 228, 237, 30%)),url(img/fond-ville.png);
        background-repeat: no repeat;
        background-size: auto 100% ;
        margin: auto;
    }
    
    main div{
        margin-top: 0;
    }
    #part2{
        margin-top: 2rem;
        max-width: 26.25rem;
    }

        /* main - part3 */

    #part3{
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center;   
    }
   
    #enfantpart3 .button-styled{
        margin-top: 1rem;
        margin-left: 0;
    }
    #enfantpart3 p{
        margin-top: 2rem;
        margin-left: 0;
        margin-right: auto;
    }

    #bgcolor{
        margin-bottom: 20px;
    }

    /* main - part4 */
    .services{
        flex-direction: column;
        margin-top: 0;
    }
    #part4-section{
        flex-wrap:wrap;
        width: 100%;
        height: 29.6221rem;
    }
    

    #bg-deco-part4{
        display: none;
    }

    .services{
        flex-wrap: wrap;
        align-items: center;
    }
    #we-serv{
        flex-direction: column;
        flex-wrap: wrap;
    }
    #we-serv a{
        margin-top: 1rem;
    }
    #button-be-one{
        margin-top: 0;
    }
    
    /* Footer */

    footer{
        max-width: 700px;
        margin-right: auto;
        margin-left: auto;
    }
    footer > .mr-top120 {
        margin-top: 0;
    }
    #bg-color-aside{
        height: 8rem;
        background-image: linear-gradient(45deg, rgb(104, 82, 237), rgb(186, 67, 252)) ;
        border-radius: 1rem;
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089);
        line-height: 4rem;
        margin-top: 0;
    }
    
    .button-styled-white{
        background-color: transparent;
        border: 1px solid white;
        border-radius:1rem;
        width: 103px;
        height: 50px;
        color: white;
        font-family: Poppins;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1rem;
        
    }
    footer aside{
        flex-direction: column;
        align-items: center;
    }
    #bg-color-aside p{
       margin-left: 0;
    }
    #footer-end{
       flex-direction: column;
    }
    footer #enfant1footer{
       width: 100%;
    }
    .deco-border{
        margin-left:auto;
        margin-right: auto; 
    }
    footer #enfant2footer, #enfant3-4{
        width: 100%;
        margin-left:auto;
        margin-right: auto;
     }
    
}


/* Media queries pour tout les écran en dessous de 480px de largeur */
@media only screen and (max-width: 479.98px){

    /* header */
    #button-nav{
        display: flex;
        position: fixed;
        top: 10px;
        right: 30px;  
    }
    .logo{
        font-size: 150%;
    
    }
    header >div >p >img{
        min-width: 30%;
    }
    header{
        max-width: 21.25rem;  
        margin-right: auto;
        margin-left: auto; 
    }
   
    .header{
        max-height: 600px;
    }
    #button-free{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    #button-free > a {
        margin-top: 1rem;
    }

    #deco{
        background-image: none;
    }

    #our-price h1{
        margin-top: 10%;
        width: 100%;
    }
    #our-price{
        max-width: 21.25rem;  
    }
    #our-price p{
        width: 80%;
    }

        /* main - part1 */
    .container{
        width: 100%;
        margin: auto;
    }
    nav{
        display: none;
    }
    #main1{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .parts{
        margin-bottom: 1rem;
        margin-top: 3rem;
        background-color: none;
    }


        /* main - part2 */
    .bg-gris{
        height: 33.4375rem;
        background-image:linear-gradient( to right,rgba(225, 228, 237, 30%), rgba(225, 228, 237, 30%)),url(img/fond-ville.png);
        background-repeat: no repeat;
        background-size: auto 100% ;
        margin: auto;
    }
    
    main div{
        margin-top: 0;
    }
    #part2{
        margin-top: 2rem;
        max-width: 21.25rem;  
    }

    #part2 h2{
        padding-top: 0.5rem;  
    }

        /* main - part3 */
    #part3 div div{
        margin-right: 0;
    }
    #part3{
        flex-wrap: wrap;
        flex-direction: column; 
        align-items: center; 
    }
    #enfantpart3 {
        max-width: 21.25rem;
    }
    #enfantpart3 .button-styled{
        margin-top: 1rem;
        margin-left: 0;
    }
    #enfantpart3 p{
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    #bgcolor{
        margin-bottom: 20px;
    }

    /* main - part4 */
    .services{
        flex-direction: column;
        margin-top: 0;
        align-items: center;
   
     }
    #part4-section{
        flex-wrap:wrap;
        width: 100%;
        height: 29.6221rem;
    }
    

    #bg-deco-part4{
        display: none;
    }

    .services{
        flex-wrap: wrap;
        align-items: center;
    }
    #we-serv{
        flex-direction: column;
        flex-wrap: wrap;
    }
    #we-serv a{
        margin-top: 1rem;
    }
    #button-be-one{
        margin-top: 0;
    }
    
    /* Footer */

    footer{
        max-width: 21.25rem;
    }

    footer > .mr-top120 {
        margin-top: 0;
    }
    #bg-color-aside{
        height: 8rem;
        background-image: linear-gradient(45deg, rgb(104, 82, 237), rgb(186, 67, 252)) ;
        border-radius: 1rem;
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089);
        line-height: 4rem;
        margin-top: 5rem;
    }
    
    .button-styled-white{
        background-color: transparent;
        border: 1px solid white;
        border-radius:1rem;
        width: 103px;
        height: 50px;
        color: white;
        font-family: Poppins;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 1rem;
        
    }
    footer aside{
        flex-direction: column;
        align-items: center;
        flex:100%;
    }
    #bg-color-aside p{
       margin-left: 0;
    }
    #footer-end{
       flex-direction: column;
    }
    footer #enfant1footer{
       width: 100%;
    }
    .deco-border{
        margin-left:auto;
        margin-right: auto; 
    }
    footer #enfant2footer, #enfant3-4{
        width: 100%;
        margin-left:auto;
        margin-right: auto;
     }
    
}