/** font **/

body{
    font-family: nunito;
    font-size: 1.125rem;
}
.fontpoppins{
    font-family: Poppins;
}
.fontpoppinsbold{
    font-family: Poppins;
    font-weight: 700;
}
/** Selected generals **/
a{
    text-decoration: none;
}
p{
    color:#5B5766;
}
.link{
    color: #554D89;
    text-decoration: none;
}
h2{
    margin: 0;
}


/** size caractère **/
.f-1{
    font-size: 1rem;
}
.f14{
    font-size: 0.875rem;
}
.f15{
    font-size: 0.9375rem;
}
.f18{
    font-size: 1.125rem;
}
.f-22{
    font-size: 1.375rem;
}
.f20{
    font-size: 1.25rem;
}
.f34{
    font-size: 2.125rem;
}
.f50{
    font-size: 3.125rem;
}

/** grille **/
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/** color **/
.color-first{
    color:#5B5766;
}
.color-secondary{
    color: #554D89;
}
.color-three{
    color: #716C80;
}
.colorwhite{
    color: white;
}
    
/** marge **/
.mr-0{
    margin: 0;
}
.mr-right16{
    margin-right: 1.8rem;
}
.mr-right64{
    margin-right: 8rem;
}
.mr-top7{
    padding-top: 6.9375rem;
}
.mr-left2{
    margin-left: 2rem;
}
.m-topleft66{
    margin-left: 3.5rem;
    margin-top: 3.5rem;
}
.mr-bottom{
    margin-bottom: 20px;
}
.mr-top3{
    margin-top: 3rem;
}
.mr-top120{
    margin-top: 7.5rem;
}
.mr-top66{ 
    margin-top: 4.125rem;
}
.mr-top2{
    margin-top: 2rem;
}
.mr-top80{ 
    margin-top: 5rem;
}
.mr-left80{
    margin-left: 5.25rem;
}

/** flex **/
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-justify-beetwen{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}


/** header **/

header{
    height: 62.5rem;
}


/** header - déco**/
#deco{
    display: block;
    background-color:rgb(104, 82, 237);
    width: 673px;
    height: 1369px;
    border-radius: 336.5px;
    position: absolute;
    right: -20px;
    rotate: 44deg;
    transform: translateX(837,63px);
    transform: translateY(-452px);
}

/** header - logo**/
#logo{
    font-family: nunito;
    font-weight: 900;
    color: #554D89;
    font-size: 1rem;
}
h1{
    font-size: 3.125rem;
    font-weight: 700;
    margin-top: 14.75rem;
}

/** header - navigation **/

nav >ul{
    list-style: none;
}

nav > ul li{
    font-size: 1rem;
}
nav > ul > li > a{
    text-decoration: none;
}
#nav{
    width: 30.0526rem;
}

/** header - search **/
header > div > div > nav > ul > li > a:hover{
    color: #554D89;
    font-family: nunito;
    font-weight: 700; 
    border-image: linear-gradient(
      to right, #6852ED, #BA43FC) 100% 0 0 0 ;
    padding-top: 1.398rem;
    border-style: solid;
    border-width: 2px;
}
#our-price{
    width: 27.25rem;
    height: 18.3125rem;
}
.button-styled{
    background-image: linear-gradient(45deg, rgb(104, 82, 237), rgb(186, 67, 252)) ;
    border: none;
    border-radius:2.5rem;
    width: 207px;
    height: 50px;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}


/** Main - part1 **/
main li {
    list-style: none;
    color: #716C80;
    line-height: 2rem;
}
main ul {
    padding-left: 1.25rem;
    margin-bottom: 0;
    margin-top: 2.8rem;
}

.line-deco{
      border-style: solid;
      border-width: 0.125rem;
      color: #BA43FC;
      width: 2.5rem;
      border-radius: 0.625rem;
      margin-top: 1.4375rem;
      margin-bottom: 1.75rem;
}
#best-choise{
    color: #EF7171;
    font-size:0.625rem;
    background-color: rgba(225, 228, 237, 60%);
    border-radius: 0.8125rem;
    width: 5.375rem;
    height: 1.625rem;
    text-align: center;
    line-height: 1.625rem; 
    margin-right: 4rem;   
}
.parts{
    width: 22.5rem;
    height: 38.5rem;
    background-color: white;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089);    
}

/** Main - part2 **/

#part2{
    height: 33.4375rem;
    text-align: center;
    background-color: rgba(225, 228, 237, 30%);
    margin-top: 7.3125rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920;
}
#marketingexpert{
    color:rgba(91, 87, 102, 80%)
}


#bgcolor{
    width: 22.5rem;
    height: 15.4375rem;
    background-image: linear-gradient(45deg, rgb(104, 82, 237), rgb(186, 67, 252)) ;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089);
}

.bgcolorwhite{
    width: 22.5rem;
    height: 15.4375rem;
    background-color: white ;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089);
}


/** Main - part4 **/
#part4-section{
    width: 26.0625rem;
    height: 29.6221rem;
}

#bg-deco-part4{
    display: block;
    background-color:rgb(225,228, 237);
    width: 651px;
    height: 474px;
    position: relative;
    border-radius: 237px 237px 237px 80px;
}

/** Footer **/

/** Footer - aside **/

#bg-color-aside{
    height: 6.875rem;
    background-image: linear-gradient(45deg, rgb(104, 82, 237), rgb(186, 67, 252)) ;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.089);
    line-height: 6.875rem;
}

.button-styled-white{
    background-color: transparent;
    border: 1px solid white;
    border-radius:2.5rem;
    width: 103px;
    height: 50px;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin-top: 1.875rem;
    
}

/** Footer - end **/
footer li{
    list-style: none;
}

footer ul{
    padding-left: 0;
    margin-left: 0;
}

#enfant1footer{
    flex: 0% 50%;
}

#enfant2footer {
    flex: 0% 45%;
}

