/** font **/

body{
    font-family: nunito;
    font-size: 1.125rem;
}

.font-title{
    font-family: poppins;
    font-weight: bold 700;
}


/** size caractère **/
.f-1{
    font-size: 1rem;
}


/** grid **/
#container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/** color **/
.color-first{
    color:#5B5766;
}
.color-secondary{
    color: #554D89;
}
    
/** marge **/
.mr-0{
    margin: 0;
}
.mr-right16{
    margin-right: 1.8rem;
}
.mr-right64{
    margin-right: 8rem;
}


/** flex **/
.d-flex{
    display: flex;
}
.flex-justify-beetwen{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}


/** header **/
#logo{
    font-family: nunito;
    font-weight: 900;
    color: #554D89;
    font-size: 1rem;
}
h1{
    font-size: 3.125rem;
    font-weight: 700;
}

/** header - navigation **/

nav >ul{
    list-style: none;
}

nav > ul li{
    font-size: 1rem;
}
nav > ul > li > a{
    text-decoration: none;
}
#nav{
    width: 30.0526rem;
}

/** header - search **/
header > div > div > nav > ul > li > a:hover{
    color: #554D89;
    font-family: nunito;
    font-weight: 700;
}
#header-search{
    border: 1px solid #5B5766;
    border-radius: 20px;
    align-items: center;
    display: flex;
    padding: 0 1.5rem;
    width: 20rem;
    height: 2.375rem;
}
input{
    border: 0;
}

